.searchBar-wrap{
    background-color: #f0f0f0;
    width: fit-content;
    margin: 2.5rem auto 4rem auto;
    padding : 5px;
    border-radius: 5px;

}
.searchBar-wrap form{
    
    display: flex;

}